@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(180deg, rgba(var(--background-start-rgb), 1) 0%, rgba(var(--background-end-rgb), 1) 100%);
}

 @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} 
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #fefeff;
  -webkit-mask: radial-gradient(circle closest-side at 50% 40%,#0000 94%, #000);
  mask: radial-gradient(circle closest-side at 50% 40%,#0000 94%, #000);
  transform-origin: 50% 40%;
  animation: l25 1s infinite linear;
}
@keyframes l25 {
  100% {transform: rotate(1turn)}
}

.avatarSize {
  width: 1080px;
  height: 1080px;
}

.test{
  background-color: #00000059;

}

:root{
  --bg: #000000;
  --bgSoft: #313131;
  --text: white;
  --textSoft: #e5e5e5;
  --btn: #3673fd;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--bg) !important;
  color: var(--text) !important;
}

a{
  text-decoration: none !important;
  color: inherit  !important;
}

.logo1{
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
  font-size: 96px;
}

.logo2{
  color: red;
}

.tagline{
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin-top: 10px;
}

.bgImage{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: -16%;
  margin-top: -15%;
  width: 2200px;
  position: fixed;
  z-index: -1;
  opacity: 1;
  filter: blur(3px);
}

@media (max-width: 600px) {
  .bgImage{
    display: none;
  }
}